html {
  background-color: black;
}
body {
  color: white;
}
.back-button button {
  background-color: #4caf50;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 12px 20px
}
.back-button button:hover {
  background-color: #ddd;
  color: black;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: absolute;
  right: 45%;
  top: 30%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
table {
  table-layout: fixed;
  width: 400%;
  border-collapse: collapse;
  border: 3px solid white;
}
